body{
    font-size: 20px;
    font-family: monospace;
     background-image: url("https://timedotcom.files.wordpress.com/2017/07/blackwater_f.jpg"); 
     background-size: cover;
}

#container{
    margin : 20px auto;
    margin-top: 150px;
    background-color: #111111;
    height: 600px;
    width : 960px;
    border-radius: 5px;
    box-shadow: 0px 5px 100px 0px;
    position: relative;
    color: orange;
}

#border {
    color: orange;
}
#start{
    font-size: 1.5em;
    font-weight: bolder;
    word-break: break-all;
    width:400px;
    height:100px;
    text-align: center;
    cursor: pointer;
    position: absolute;
    left:300px;
    top:50px;
    color : lightgrey;
    margin-top: 200px;
}

#start p{
    padding: 30px;
}
#start:hover{
    border: 3px solid lawngreen;
    box-shadow: 0px 5px 75px 0px;
    color : lawngreen;
}

#question{
    width:500px;
    height : 125px;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    
}
#question p{
    padding : 15px;
    font-size: 1.25em; 
    margin-top: 100px;
    color: lawngreen;
    opacity: 0.8;
}

#choices{
    width : 480px;
    top : 125px;
    /* padding : 10px; */
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
}
.choice{
    display: inline-block;
    width : 480px;
    text-align: center;
    border-radius: 5px;
    cursor: pointer;
}
.choice:hover{
    border : 2px solid red;
    font-weight: bold;
}

#timer{
    height : 100px;
    width : 200px;
    bottom : 0px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
#counter{
    font-size: 3em;
    margin-top: 100px;
}

#scoreContainer{
    margin : 0 auto;
    margin-top: 140px;
    
    height: 100px;
    width : 150px;
    
    text-align: center;
    display: none;
    color: lawngreen;
}

#scoreContainer p{
    font-size: 1.5em;
    font-weight: bold;
    color: white;
    opacity: 0.8;
    margin: 0 auto;
    padding: 30px;
}